<%- include('partials/header'); -%>
    <div class="container">
        <h1 class="pt-4">Home del sitio</h1>
        <p>pagina principal</p>
        <div class="">
            <canvas id="myChart"></-canvas>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // Define ventas en el servidor y pásalo como un script
        const ventas = JSON.parse('<%- JSON.stringify(allVentas) %>');

        // Procesar datos para el gráfico
        const fechas = [...new Set(ventas.map(v => v.FechaVenta))];
        const ventasPorFecha = fechas.map(fecha => ventas.filter(v => v.FechaVenta === fecha).length);

        const ctx = document.getElementById('myChart').getContext('2d');
      
        new Chart(ctx, {
            type: 'line',   
            data: {
                labels: fechas,
                datasets: [{
                    label: 'Número de Ventas',
                    data: ventasPorFecha,
                    borderWidth: 3,
                    fill: false,
                    borderColor: '#ff6384',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
<%- include('partials/footer'); -%>
