<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    
    <div class="login-form"> 
        <h2>Login con NODE</h2>
        <form action="auth" method="post">
            <input type="text" name="user" id="user" placeholder="Usuario" required>
            <input type="password" name="pass" id="pass" placeholder="Contraseña" required>
            <input type="submit" class="btn-login" value="Login">

        </form>

        <a href="register" class="btn-register">Registrar</a>


    </div>
</body>
</html>