<%- include('partials/header'); -%>
    <div class="container">
        <h1 class="pt-4">Recibos</h1>
        <p>Seleccione una mesa</p>
        <div class="container">
            <% for(let i=0; i<allMesas.length; i++) {%>
                <%if (allMesas[i].estado == "ocupada"){%>
                    <div class="recibo">
                        <h5>Mesa <%=allMesas[i].numero%></h5>
                        <p>Capacidad: <%=allMesas[i].capacidad%></p>
                    </div>
                <%}%>
            <%}%>
        </div>
    </div>
<%- include('partials/footer'); -%>