<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="register-form">
        <h1>Registro</h1>
        <form action="register" method="post">
            <label for="dni">DNI</label>
            <input type="text" name="dni" id="dni" required>

            <label for="nombres">Nombres</label>
            <input type="text" name="nombres" id="nombres" required>

            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" id="apellidos" required>

            <label for="email">Correo Electrónico</label>
            <input type="email" name="email" id="email" required>

            <label for="pass">Contraseña</label>
            <input type="password" name="pass" id="pass" required>

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancelar</a>
                <input type="submit" class="btn-save" value="Guardar">
            </div>
        </form>
    </div>
    
</body>
</html>
